@use "./variables.scss" as v;
@import "./mixins";

#storage {
  border: 3px solid v.$redC;

  .storageimage {
    min-width: 100px;
    max-width: 100px;
  }
}

#data-storage {
  display: flex;
  text-align: center;
  justify-content: center;
  // flex-wrap: wrap;
  margin-top: 10px;
  gap: 30px;
  @include for-phone-only {
    flex-wrap: wrap;
  }
}
