@use "./variables.scss" as v;
@import "./mixins";

#bartenders {
  grid-row: 1 / span 2;
  grid-column: 2;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  border: 3px solid v.$redC;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */

  h1 {
    color: v.$redC;
    margin-left: 10px;
    font-size: 2rem;
  }
  h3 {
    color: white;
    font-family: v.$vintage;
    margin-left: 10px;
    margin-bottom: 1vw;
  }
  h5 {
    color: v.$redC;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1rem;
    @include for-phone-only {
      font-size: 0.5rem;
    }
    font-family: v.$lemonMilk;
  }
  p {
    font-family: v.$lemonMilk;
    color: v.$lysC;
    font-size: 0.8rem;
    @include for-phone-only {
      font-size: 0.5rem;
    }
    margin-left: 10px;
  }
}

#data-bartenders {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  gap: 60px;
  @include for-phone-only {
    gap: 10px;
  }
}

.bartender {
  height: 100%;
  width: 100%;
}
