@use "./variables.scss" as v;
@import "./mixins";

header {
  display: flex;
  color: v.$lysC;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  #logo {
    font-family: v.$vintage;
    // @mixin displayLogo {
    //   font-size: 1.3em;
    //   color: color(red_header);
    //   font-family: v.$vintage;
    // }
    h1 {
      @include for-phone-only {
        font-size: 2rem;
        position: absolute;
        top: 23vw;
        left: 40vw;
      }
    }
    #data-time {
      @include for-phone-only {
        font-size: 2rem;
      }
    }
    /*     .logo {
      @include displayLogo();
      .firstfade {
        opacity: 20%;
        margin-top: -65px;
      } */
    /*       .lastfade {
        opacity: 5%;
        margin-top: -65px;
      }
    } */
  }

  #slogan {
    @include for-phone-only {
      font-size: 0.8rem;
    }
  }
  button {
    width: 100px;
    height: 30px;
    @include for-phone-only {
      font-size: 0.5rem;
      width: 30px;
    }
  }
}
