@use "./variables.scss" as v;

#queue {
  border: 3px solid v.$redC;
  h1 {
    color: v.$redC;
    margin-left: 10px;
    font-size: 2rem;
  }
  h3 {
    color: v.$redC;
  }
  p {
    color: v.$lysC;
  }
  .orderList {
    list-style: none;
    color: white;
  }
}

#data-queue-barchart {
  display: flex;
}
