@use "./variables.scss" as v;

#queue {
  border: 3px solid v.$redC;
  .orderList {
    list-style: none;
    color: white;
  }
}

#data-queue-barchart {
  display: flex;
}

.order {
  text-align: left;
}

rect {
  transition: 2s;
}
