@use "./variables.scss" as v;

#queue {
  border: 3px solid v.$redC;
  .order {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 7px 0px #13191f;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
  background-color: v.$bg2C;
  }
  .orderList {
    display: flex;
    list-style: none;
    color: white;
  }
}

#data-queue-barchart {
  display: flex;
}


rect {
  transition: 2s;
}

.queue_barchart {
  border-radius: 1vw;
height: 25vw;
width: 100%;
background-color: v.$bg2C;
margin: 2.5vw;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
bottom: 0;
gap: 0.5vw;
direction: rtl;
overflow: hidden;
}

.bar {
  border-radius: 0.5vw 0.5vw 0vw 0vw;
  align-self: end;
  background-color: v.$redC;
  width: 100%;
}