@use "./variables.scss" as v;

#queue {
  border: 3px solid v.$redC;
  .order {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 7px 0px #13191f;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
  background-color: #202933;
  }
  .orderList {
    display: flex;
    list-style: none;
    color: white;
  }
}

#data-queue-barchart {
  display: flex;
}


rect {
  transition: 2s;
}