@use "./variables.scss" as v;

#storage {
  border: 3px solid v.$redC;
  h1 {
    color: v.$redC;
    margin-left: 10px;
    font-size: 2rem;
  }
}

#storage_01 {
  background-image: url(../assets/images/storage_squared_01.svg);
  height: 50px;
}
