@use "./variables.scss" as v;
@import "./mixins";

#storage {
  border: 3px solid v.$redC;
  height: 100%;
  width: 100%;

  h1 {
    color: v.$redC;
    margin-left: 10px;
    font-size: 2rem;
  }
  h3 {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  p {
    font-family: system ui;
    color: white;
    margin-left: 10px;
    font-size: 1rem;
  }
}

#data-storage {
  display: flex;
  text-align: center;
  justify-content: center;
  // flex-wrap: wrap;
  margin-top: 10px;
  gap: 30px;
  @include for-phone-only {
    flex-wrap: wrap;
  }
}

.storageimage {
  height: 10vh;
}

/* .storageimage {
  height: 50%;
  width: auto;
} */
