@use "./variables.scss" as v;

#tables {
  border: 3px solid v.$redC;
  grid-row: 3;
  grid-column: 2;
  h1 {
    color: v.$redC;
    margin-left: 10px;
    font-size: 2rem;
  }
  h3 {
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  p {
    font-family: system ui;
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
}
