@use "./variables.scss" as v;
@import "./mixins";

#taps {
  border: 3px solid v.$redC;
  .tapsimage {
    min-width: 100px;
    max-width: 100px;
  }
}

#data-taps {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  gap: 30px;
  @include for-phone-only {
    gap: 0px;
    flex-wrap: wrap;
  }
}
