@use "./variables.scss" as v;
@import "./mixins";

#taps {
  border: 3px solid v.$redC;
  h1 {
    color: v.$redC;
    margin-left: 10px;
    font-size: 2rem;
  }
  h3 {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  p {
    font-family: system ui;
    color: white;
    margin-left: 10px;
    font-size: 1rem;
  }
}

#data-taps {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  gap: 30px;
  @include for-phone-only {
    gap: 0px;
    flex-wrap: wrap;
  }
}

.tapsimage {
  height: 50%;
  width: auto;
}
