@use "./variables.scss" as v;
@use "./reset.scss";
@use "./header";
@use "./queue";
@use "./bartender";
@use "./storage";
@use "./tables";
@use "./taps";
@import "./mixins.scss";

* {
  max-width: 100%;
  box-sizing: border-box;
}

// div {
//   font-family: v.$vintage;
//   font-size: 2vw;
// }

body {
  background-color: v.$bgC;
  text-align: center;
}

// header {
//   @include for-phone-only {
//   }
// }

.dashboard {
  padding: 50px;
  gap: 30px;
  background-color: #1a2129;
  display: grid;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    max-width: auto;
  }
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr 1fr 1fr));

  // grid-template-columns: 2fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;

  /*   grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr; */
  h1 {
    font-family: v.$lemonMilk;
    color: v.$redC;
  }
  h2 {
    color: v.$lysC;
    font-family: v.$lemonMilk;
  }
  h3 {
    color: v.$redC;
    font-family: v.$lemonMilk;
    @include for-phone-only {
      font-size: 0.5rem;
    }
  }
  p {
    font-family: v.$smythe;
    color: white;
    @include for-phone-only {
      font-size: 0.5rem;
    }
  }
}


//media queries
